body {
  margin:0px;
  background-color:rgba(50, 96, 138, 1);
  background-image:none;
  position:static;
  left:auto;
  width:910px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2364 {
  position:absolute;
  left:10px;
  top:10px;
  width:905px;
  height:273px;
}
#u2365_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u2365 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u2366 {
  position:absolute;
  left:2px;
  top:6px;
  width:195px;
  word-wrap:break-word;
}
#u2367_img {
  position:absolute;
  left:0px;
  top:0px;
  width:631px;
  height:30px;
}
#u2367 {
  position:absolute;
  left:199px;
  top:0px;
  width:631px;
  height:30px;
}
#u2368 {
  position:absolute;
  left:2px;
  top:6px;
  width:627px;
  word-wrap:break-word;
}
#u2369_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u2369 {
  position:absolute;
  left:830px;
  top:0px;
  width:70px;
  height:30px;
}
#u2370 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u2371_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u2371 {
  position:absolute;
  left:0px;
  top:30px;
  width:199px;
  height:30px;
}
#u2372 {
  position:absolute;
  left:2px;
  top:6px;
  width:195px;
  word-wrap:break-word;
}
#u2373_img {
  position:absolute;
  left:0px;
  top:0px;
  width:631px;
  height:30px;
}
#u2373 {
  position:absolute;
  left:199px;
  top:30px;
  width:631px;
  height:30px;
  text-align:left;
}
#u2374 {
  position:absolute;
  left:2px;
  top:6px;
  width:627px;
  word-wrap:break-word;
}
#u2375_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u2375 {
  position:absolute;
  left:830px;
  top:30px;
  width:70px;
  height:30px;
}
#u2376 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2377_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u2377 {
  position:absolute;
  left:0px;
  top:60px;
  width:199px;
  height:30px;
}
#u2378 {
  position:absolute;
  left:2px;
  top:6px;
  width:195px;
  word-wrap:break-word;
}
#u2379_img {
  position:absolute;
  left:0px;
  top:0px;
  width:631px;
  height:30px;
}
#u2379 {
  position:absolute;
  left:199px;
  top:60px;
  width:631px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2380 {
  position:absolute;
  left:2px;
  top:6px;
  width:627px;
  word-wrap:break-word;
}
#u2381_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u2381 {
  position:absolute;
  left:830px;
  top:60px;
  width:70px;
  height:30px;
}
#u2382 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2383_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u2383 {
  position:absolute;
  left:0px;
  top:90px;
  width:199px;
  height:30px;
}
#u2384 {
  position:absolute;
  left:2px;
  top:6px;
  width:195px;
  word-wrap:break-word;
}
#u2385_img {
  position:absolute;
  left:0px;
  top:0px;
  width:631px;
  height:30px;
}
#u2385 {
  position:absolute;
  left:199px;
  top:90px;
  width:631px;
  height:30px;
  text-align:left;
}
#u2386 {
  position:absolute;
  left:2px;
  top:6px;
  width:627px;
  word-wrap:break-word;
}
#u2387_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u2387 {
  position:absolute;
  left:830px;
  top:90px;
  width:70px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2388 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2389_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:28px;
}
#u2389 {
  position:absolute;
  left:0px;
  top:120px;
  width:199px;
  height:28px;
}
#u2390 {
  position:absolute;
  left:2px;
  top:5px;
  width:195px;
  word-wrap:break-word;
}
#u2391_img {
  position:absolute;
  left:0px;
  top:0px;
  width:631px;
  height:28px;
}
#u2391 {
  position:absolute;
  left:199px;
  top:120px;
  width:631px;
  height:28px;
  text-align:left;
}
#u2392 {
  position:absolute;
  left:2px;
  top:5px;
  width:627px;
  word-wrap:break-word;
}
#u2393_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:28px;
}
#u2393 {
  position:absolute;
  left:830px;
  top:120px;
  width:70px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2394 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2395_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u2395 {
  position:absolute;
  left:0px;
  top:148px;
  width:199px;
  height:30px;
}
#u2396 {
  position:absolute;
  left:2px;
  top:6px;
  width:195px;
  word-wrap:break-word;
}
#u2397_img {
  position:absolute;
  left:0px;
  top:0px;
  width:631px;
  height:30px;
}
#u2397 {
  position:absolute;
  left:199px;
  top:148px;
  width:631px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2398 {
  position:absolute;
  left:2px;
  top:6px;
  width:627px;
  word-wrap:break-word;
}
#u2399_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u2399 {
  position:absolute;
  left:830px;
  top:148px;
  width:70px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2400 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2401_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u2401 {
  position:absolute;
  left:0px;
  top:178px;
  width:199px;
  height:30px;
}
#u2402 {
  position:absolute;
  left:2px;
  top:6px;
  width:195px;
  word-wrap:break-word;
}
#u2403_img {
  position:absolute;
  left:0px;
  top:0px;
  width:631px;
  height:30px;
}
#u2403 {
  position:absolute;
  left:199px;
  top:178px;
  width:631px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2404 {
  position:absolute;
  left:2px;
  top:6px;
  width:627px;
  word-wrap:break-word;
}
#u2405_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u2405 {
  position:absolute;
  left:830px;
  top:178px;
  width:70px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2406 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2407_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u2407 {
  position:absolute;
  left:0px;
  top:208px;
  width:199px;
  height:30px;
}
#u2408 {
  position:absolute;
  left:2px;
  top:6px;
  width:195px;
  word-wrap:break-word;
}
#u2409_img {
  position:absolute;
  left:0px;
  top:0px;
  width:631px;
  height:30px;
}
#u2409 {
  position:absolute;
  left:199px;
  top:208px;
  width:631px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2410 {
  position:absolute;
  left:2px;
  top:6px;
  width:627px;
  word-wrap:break-word;
}
#u2411_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u2411 {
  position:absolute;
  left:830px;
  top:208px;
  width:70px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2412 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u2413_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:30px;
}
#u2413 {
  position:absolute;
  left:0px;
  top:238px;
  width:199px;
  height:30px;
}
#u2414 {
  position:absolute;
  left:2px;
  top:6px;
  width:195px;
  word-wrap:break-word;
}
#u2415_img {
  position:absolute;
  left:0px;
  top:0px;
  width:631px;
  height:30px;
}
#u2415 {
  position:absolute;
  left:199px;
  top:238px;
  width:631px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u2416 {
  position:absolute;
  left:2px;
  top:6px;
  width:627px;
  word-wrap:break-word;
}
#u2417_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u2417 {
  position:absolute;
  left:830px;
  top:238px;
  width:70px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2418 {
  position:absolute;
  left:2px;
  top:7px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
